.sidebarClose {
  height: 100vh;
  width: 0;
  background: white;
  position: absolute;
  transition: 0.5s;
}

.sidebarOpen {
  height: 100vh;
  width: 400px;
  background: white;
  position: absolute;
  transition: 0.5s;
}
