.sidebar--close {
  height: 100vh;
  width: 0;
  background: white;
  position: absolute;
  transition: 0.5s;
  display: none;
}

.sidebar--open {
  height: 100vh;
  width: 400px;
  background: white;
  position: absolute;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.sidebar__header {
  font-size: var(--font-size-header);
}
